@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(135deg, rgba(35, 179, 182, 0.527) 23%, rgba(83, 165, 233, 0.473) 100%), url(/img/fondos.jpg);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}





.tarjeta{
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    height:60%;
    width: 50%;
    border-radius: 30px;
    overflow: hidden;
}  

.titulo{
    text-align: center; 
}

.header{
    display: flex;
    background: rgba(255, 255, 255, 0.1);
    width: 100%;
    height: 150px;
    border-bottom: 3px solid #161623fb;
}

#cerdito{
    width: 200px;
    height:150px;
}
 .datos{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-around; 
 }

.column{
    width: 40%;
    display: flex;
    flex-direction: column;
    background: rgba(242, 242, 243, 0.185);
    font-weight: bold;
    margin-top: 40px;
    align-items:center;
    border-radius: 20px 20px 0px 0px;
    padding-top: 20px;
    transition-duration: 0.5s;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.425);
}

.column:hover{
    margin-top: 10px;  
    font-size: 20px;
}

label{
    margin-bottom: 20px;
}

input{
    background: none;
    width: 90%;
    height: 100%;
    border: none;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
    font-size: 20px;
    overflow-x: hidden;
}

.section{
    height:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    margin: 5px 0; 
}

.h2{
    font-weight: bold;
    max-height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
} 

.div{
    display: flex;
    flex-direction: column;
    max-width: 33%;
    padding: 10px;
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, 0.116);
    align-items: center;
 
}

.presupuesto{
    
    
    
}

.lista{
   
}

.restante{
}

span{
    color: white;
}

.circulo {
    outline-style:dashed;
	width: 260px;
	height: 260px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.pri{

}

.seg{

}

.ter{

}

.j{
    position: relative;
    display: block;
    width: 100%;
}

.divBoton{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 4px;
}

#boton{
    width: auto;
    height: 80px;
    border-radius: 8px;
}